@model IEnumerable<DeviceShop.Web.ViewModels.CategoryNavigation>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @foreach (var category in Model)
        {
            <a class="dropdown-item" href="@category.Url">@category.Name</a>
        }
    </div>
</li>